version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: taskflow-sql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=TaskFlow@2024
    ports:
      - 1433:1433
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
